{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                {% if form.instance.pk %}
                    Update Post
                    {% else %}
                    Create Post
                {% endif %}
            </button>
        </div>
    </form>
    <!-- Changed here, div removed -->
</div>
{% endblock content %}