@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html, body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
    width: 100%;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
}

body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a:hover{
    color: #428bca;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    color: #444444;
}

ul {
margin: 0;
}

.bg-steel {
background-color: #6e4f30;
}

.site-header{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 20px;
    font-weight: bold;
    background-color: #cc853d;

}

.navbar-nav .nav-link {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

#logout {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.navbar-brand{
    color: rgb(255, 242, 95);
}


/* BASE.HTML */
.main-container{
    margin-top: 80px;
    margin-bottom: 120px;
}
.row{
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booked-busy{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';

}


/* HOME PAGE */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-top: 100px; */
    width: 100%;
}

.book-result{
    padding-bottom: 50px;
}

.heading{
    padding-bottom: 50px;
}

.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.searchbar{
    width: 80%;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.search-button{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* PROFILE */
.folder-title{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    color: #4f2801;
}

.create-folder-title{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    color: #4f2801;
}

.create-folder-button{
    margin-left: 130px;
    border: 5px;
    text-decoration: none;
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.list-style{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-delete{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.edit-folder{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

.delete-folder{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

.folder-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.folder-name{
    font-size: 25px;
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.folder-form-container{
    margin-top: 50px;
    margin-bottom: 50px;
}


/* INBOX */
.inbox-title{
    font-weight: bold;
    font-size: 50px;
}

.send-message{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

.send-message:hover{
    color: #000000;
    background-color: #b0d8fb;

}

.message-detail{
    font-size: 20px;
}

/* ASIDE */
aside{
    display: flex;
    justify-content: center;
    align-self: baseline;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 500px;
}

/* .text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/* POST_LIST */
/* .content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.btn-primary{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.btn-primary:hover{
    color: #428bca;
    text-decoration: underline;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img { 
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

