@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');



html, body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    flex-direction: column; 
}

body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #00000000;
    text-align: center;
    font-size: 14px;
}

a:hover{
    color: #428bca;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    color: #444444;
}

ul {
margin: 0;
}

.bg-steel {
background-color: #6e4f30;
}

.site-header{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 20px;
    font-weight: bold;
    background-color: #cc853d;

}

/* Sidebar Styles for Small Screens */
/* Default navbar styles */
.navbar {
    transition: all 0.3s ease-in-out;
}

/* Sidebar Styles for Small Screens */
@media (max-width: 768px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #343a40;
        padding-top: 20px;
        transition: 0.3s ease-in-out;
        z-index: 1000;
    }

    .navbar-collapse.show {
        right: 0; /* Slide in when opened */
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;
    }

    .navbar-toggler {
        position: absolute;
        font-size: 15px;
        right: 10px;
        top: 10px;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .close-btn:hover {
        color: red;
    }
}

@media (min-width: 768px) {  /* Adjust breakpoint if needed */
    .close-btn {
        display: none;
    }
}

.navbar-nav .nav-link {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    /* color: #cbd5db; */
    font-size: 18px;

}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.navbar-brand{
    color: rgb(255, 242, 95);
}

#logout {
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

#logout:hover{
    color: #ffffff;

}


/* BASE.HTML */
.main-content{
    flex: 1;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booked-busy{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';

}


/* HOME PAGE */
.search-book-title{
    margin-top: 0;
    font-display: flex;
    justify-content: center;
}

.book-search{
    /* margintop: 180px; */
    margin-bottom: 150px;
    background-color: #b7aba1;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: 500px
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    /* padding-top: 100px; */
    width: 100%;
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.searchbar{
    width: 80%;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.search-button{
    text-decoration: none;
    border: 0.7px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.search-button:hover{
    background-color: #73522f;
}

.book-result{
    padding-bottom: 50px;
}

.heading{
    padding-bottom: 50px;
}

.about-detail{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 100px;
}

/* POST PAGE */
.content-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.media-body{
    width:500px;
}

.post-detail{
    margin-left: 50px;
}

/* SEARCH-RESULT */
.search-container{
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* ANNOUNCEMENT BOARD */
.announcement-container{
    margin-top: 120px;
    width: 60%;
}

.announcement-delete{
    margin-top: 120px;

}

.btn-warning{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}

.btn-danger{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #cb0000;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;

}

.post-announcement-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.post-announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.8px solid #000000;
    border-radius: 5px; 
    background-color: #00000000;
    padding: 5px 5px;
}

.post-announcement:hover{
    background-color: #a48a70;
}

.btn-secondary{
    background-color: #00000000;
    color: rgb(0, 0, 0);
}

.btn-secondary:hover{
    background-color: #b5b5b5;
    color: #000000;
}

/* PROFILE */
.profile-content-section{
    margin-top: 120px;
}

.folder-title{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    color: #4f2801;
}

.create-folder-title{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    color: #4f2801;
}

.create-folder-button{
    margin-left: 130px;
    border: 0.7px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.create-folder-button:hover{
    color: black;
    background-color: #a48a70;
}

.folder-details{
    margin-top: 50px;
}

.detail-container{
    margin-top: 80px;

}

.list-style{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit-delete{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    margin-top:20px;
}

.edit-folder{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
}

.edit-folder:hover{
    background-color: #a48a70;
    color: black;

}

.delete-folder{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;

}

.delete-folder:hover{
    background-color: #d53333;
    color: black;

}

.rename-folder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rename-folder-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-changes{
    text-decoration: none;
    color: black;
    border: 0.8px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 1.5px 6px;;
}

.cancel{
    text-decoration: none;
    color: black;
    border: 0.8px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 6px;;
}



.folder-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.folder-name{
    font-size: 30px;
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.folder-form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.folder-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 180px;
}

.folder-content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* INBOX */
.inbox-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
}

.send-message{
    font-family: 'cormorant upright', 'times new roman', 'helvetica';
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 50px;
}


.archive-message{
    font-size: 12px;
}

.archive-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    color: #000000;
}

.material-icons {
    font-size: 30px;
    color: #333;
}

.sender-name{
    font-size: 18px;
}

.send-message:hover{
    color: #000000;
    background-color: #b0d8fb;

}

.time-stamp{
    font-size: 18px;

}

.inbox-page-container{
    margin-top: 120px;
    width: 100%;;
}
.inbox-heading{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.inbox-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
}

.message-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;

}

.archive{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.dot{
    margin-top: 10px;
    height: 10px;
    width: 10px;
    background-color: #6caeff;
    border-radius: 50%;
}

/* ARCHIVE PAGE */
.archive-page-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
}

.archive-page{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* width: 100%; */
    /* margin-left: 90px;
    margin-right: 90px; */
}

.archive-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* width: 100%; */
    margin-left: 90px;
    margin-right: 90px;
}

.archive-title{
    display: flex;
    justify-content: center;
    align-self: center;
}



/* MESSAGE DETAILS */
.message-detail-container{
    margin-top: 120px;
    width: 100%;
}

.message-detail{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;

}

.back-to-inbox{
    font-size: 15px;
}

/* SEND MESSAGE */
.send-a-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    border: none;
}

.send{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
}


/* ASIDE */
aside{
    display: flex;
    justify-content: center;
    align-self: baseline;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aside-content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 500px;
}

.btn-primary{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.btn-primary:hover{
    color: #428bca;
    text-decoration: underline;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img { 
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}


/* LOGIN PAGE */
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

/* LOGOUT PAGE */
.logout-page{
    margin-top: 120px;
}


/* Footer */
footer {
    font-family: helvetica, sans-serif, 'times new roman';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    width: 100%;
    height:30px;
    position: relative;
    margin-top: auto;
}

.footerbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}
/* End of Footer */