{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend> <!-- Updated ledgend to display Profile Info -->
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button> <!-- Updated button to display Profile Info -->
            </div>
        </form>

    </div>


    <div class="folder-form-container">
        <div class="folder-form">
            <h4 class="create-folder-title">Create a New Folder</h4>
            <form method="POST" >
                {% csrf_token %}
                {{ folder_form.as_p }}
                <button type="submit" class="create-folder-button">Create Folder</button>
            </form>
        </div>
    </div>


    <div class="folder-container">
        <h2 class="folder-title">Your Book Folders</h2>

        <div class="folder-list">
            <div class="folder-style">
                    {% for folder in folders %}
                    <div class="list-style">
                        <a href="{% url 'folder_details' folder.id %}"  class="folder-name">{{ folder.name }}</a>
                        <div class="edit-delete">
                            <a href="{% url 'folder-edit' folder.id %}" class="edit-folder">Edit</a>
                            <a href="{% url 'folder-delete' folder.id %}" class="delete-folder">Delete</a>
                        </div>
                    {% empty %}
                        <p>You don't have any folders yet. Create one!</p>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}