{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend> <!-- Updated ledgend to display Profile Info -->
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button> <!-- Updated button to display Profile Info -->
            </div>
        </form>

    </div>


    <div class="folder-form-container">
        <div class="folder-form">
            <h3>Create a New Folder</h3>
            <form method="POST" class="create-folder">
                {% csrf_token %}
                {{ folder_form.as_p }}
                <button type="submit">Create Folder</button>
            </form>
        </div>
    </div>


    <div class="folder-container">
        <div class="folder-list">
            <h2>Your Book Folders</h2>

            <ul>
                {% for folder in folders %}
                    <li><a href="{% url 'folder_details' folder.id %}">{{ folder.name }}</a></li>  <!-- Link to folder details -->
                    <a href="{% url 'folder-edit' folder.id %}">Edit</a>
                    <a href="{% url 'folder-delete' folder.id %}">Delete</a>
                {% empty %}
                    <li>You don't have any folders yet. Create one!</li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock content %}