{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Search for Books</h2>

<div class="searchbar">
    <form method="GET" action="{% url 'book_search' %}">
        <input type="text" name="query" placeholder="Search Book" required>
        <button type="submit">Search</button>
    </form>
</div>

{% if books %}
    <h2>Search Results:</h2>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} by {{ book.authors }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No books found.</p>
{% endif %}


{% endblock content %}
