{% extends "blog/base.html" %}
{% block content %}
<h2 class="inbox-title">Inbox</h2>
<a href="{% url 'send_message' %}" class="send-message">Send a Message</a>

<div class="inbox-container">
    {% for message in inbox %}
        <div class="message-list">
            <div class="message-detail">
                <strong><a href="{% url 'message_detail' message.id %}">{{ message.subject }}</a></strong>
            </div>
            <div class="inbox-details">
                <p>From <strong>{{ message.sender }}</strong></p>
                <p>on {{ message.timestamp }}</p>
            </div>
            <a href="{% url 'archive_inbox' message.id %}">Archive</a>
        </div>
    {% empty %}
        No messages
    {% endfor %}
</div>
{% endblock %}
