{% extends "blog/base.html" %}
{% block content %}
<h2 class="inbox-title">Inbox</h2>
<a href="{% url 'send_message' %}" class="send-message">Send a Message</a>
<ul>
    {% for message in inbox %}
        <li>
            From <strong>{{ message.sender }}
            <a href="{% url 'message_detail' message.id %}">{{ message.subject }}</a>
            </strong>
            on {{ message.timestamp }}
            <a href="{% url 'archive_inbox' message.id %}">Archive</a>
        </li>
    {% empty %}
        <li>No messages</li>
    {% endfor %}
</ul>
{% endblock %}
